.contain{
    background-color: #000;
    display: block;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
.header{
    padding-top: 30px;
    box-sizing: border-box;
}
.lines{
    font-size: 24px;
    font-weight: 700;
}
.paragraph{
    font-size: 18px;
    font-weight: 400;
    margin-top: -19px;
}
.paragraph, .lines{
    display: flex;
    color: white;
    margin-left: 11px;
    
    font-family: 'Roboto', sans-serif;
}

.cards-wrapper{
    display: flex;
    justify-content: center;
    margin-left: 10px;
}
.card{
    margin: 0.5em;
    width: calc(100%/4.5);
    background-color: #222
}
.body-copy{
    color: #eee;
    position: relative;
    font: normal 1.125rem/1.5rem 'Roboto'
}
.product{
    color:#eeeeee;
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    line-height:25px;
    font-weight: 400;
    text-align:left;
}
.summary{
    color:#888888;
    font-family:'Roboto';
    font-size:14px;
    font-weight:300;
    line-height:18.2px;
    text-align:left;
}

/* .cta-contain{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-between;
    align-items: flex-end;
    font: normal normal bold 14px/14px 'Roboto';
} */
.price{
    align-self: center;
    display: block;
}

.price-present{
    margin-left: -120px;
    margin-bottom: -40px;
    color: #eee;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.buton-buy{
    padding: 5px 10px;
    border-radius: 5px;
    color: #000;
    font-weight: 700;
    background-color: #44d62c;
    text-transform: uppercase;
}


#genpnxgreen{
    background-color: #44d62c;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    padding: 5px 1em;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 20px;
    left: -10px;
    max-width: 100%;
}

#genpnxgreen::before{
    border-top-color: #065f82;
    border-left: 0.3125rem solid transparent;
    border-top: 0.3125rem solid #008900;
    bottom: -0.3125rem;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}
#padmouse{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box; 
    color: #44d62c;
    overflow: clip;
    background-color: #111;
}
#laptop4090,#xboxgreen, #tshirtevisu, #paintsevisu, #hoodieevisu, #razeblade16, #chairfujin{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box; 
    color: #44d62c;
    overflow: clip;
    background-color: #111;
}
.genpnxyellow{
    background-color: #ff9c07;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    padding: 5px 1em;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 20px;
    left: -10px;
    max-width: 100%;
    display: block;

}
.genpnxyellow::before{
    border-left: 0.3125rem solid transparent;
    border-top: 0.3125rem solid #008900;
    bottom: -0.3125rem;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}

