
.contain{
    background-color: #000;
    display: block;
    box-sizing: border-box;
    font-family: Roboto;
    
}

.lines{
    padding-top: 30px;
    box-sizing: border-box;
}
.head{
    color: white;
    margin-left: 45px;
    font-size: 1.7rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.paragraphs{
    display: flex;
    color: white;
    margin-left: 45px;
    font-size: 1.3125rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.newa{
    font-size: .875rem;
    color: #eee;
    text-decoration: none;
    margin-left: auto;
    margin-top: 10px;

}

.newa:hover{
    text-decoration:underline;
    color: white;
}

.screen-reader{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}



.cards-wrapper{
    display: flex;

    
}

.card{
    margin: 0.5em;
    width: calc(100%/4.5);
    background-color: #222
}
.body-copy{
    color: #eee;
    position: relative;
    font: normal 1.125rem/1.5rem Roboto
}

#product1{
    color:#eeeeee;
font-family: Roboto, sans-serif;
font-size:18px;
line-height:25px;

    font-weight: 400;

text-align:left;
}

.summary2{
    color: #212529;

    font-size: 2px;
    margin-top: 5px;
}
.summary{
    color:#888888;
font-family:Roboto;
font-size:14px;
font-weight:300;
line-height:18.2px;
text-align:left;
}

.cta-contain{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-between;
    align-items: flex-end;
    font: normal normal bold 14px/14px Roboto;
}

.price{
    align-self: center;
    display: block;
}

.pricemoney{
    margin: 0;
    color: #eee;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.savings{
    text-decoration: line-through;
    color: #999;
}

.butonbuy{
    padding: 5px 10px;
    border-radius: 5px;
    color: #000;
    font-weight: 700;
    background-color: #44d62c;
    text-transform: uppercase;
}

.genpnxblue{
    background-color: #28aadc;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    padding: 5px 1em;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 20px;
    left: -10px;
    max-width: 100%;
}

.genpnxblue::before{
    border-top-color: #065f82;
    border-left: 0.3125rem solid transparent;
    border-top: 0.3125rem solid #008900;
    bottom: -0.3125rem;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;

}

#laptopRazerB{
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box; 
    color: #44d62c;
    overflow: clip;
    background-color: #111;
}
#xboxcontroll{
    max-width: 100%;

    vertical-align: middle;
    border-style: none;
    box-sizing: border-box; 
    color: #44d62c;
    overflow: clip;
    background-color: #111;
}

.genpnxorange{
    background-color: #ff9c07;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    padding: 5px 1em;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 20px;
    left: -10px;
    max-width: 100%;

}

.genpnxorange::before{
    border-left: 0.3125rem solid transparent;
    border-top: 0.3125rem solid #008900;
    bottom: -0.3125rem;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}

#keyboardgamingX, #gamingchair, #tshirt, #pants, #keyboardrazer{
    width: 100%;
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box; 
    color: #44d62c;
    overflow: clip;
    background-color: #111;
}

.carousel-control-next, .carousel-control-prev{
    width: auto;
    color: #44d62c;
    
  
    
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    color: #44d62c;
    display:inline;
font-size:42px;
line-height:32px;

}